<div fxLayout="row wrap" class="post-module">
   <div> Thông tin tài khoản</div>

   <div class="content-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <div class="client-name">Thu huyền 11218</div>
         <div class="client-id">Mã khách hàng <span class="id">328855</span></div>
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <div class="post-meta">
            <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
         </div>
         <div class="post-meta">
            <span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
         </div>
         <div class="post-meta bottom-meta">
            <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
         </div>
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <div >
            <span class="timestamp"><i class="fa fa-clock-o note"></i>Ghi chú</span>
            <div>các thông báo</div>
         </div>
      </div>
   </div >

</div>

<div fxLayout="row wrap" class="account-money">
   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100"> Chọn ví 
      <span>
         <mat-form-field>
            <!-- <mat-label>Cars</mat-label> -->
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
      </span>
   </div>

   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      Thông tin số dư tài khoản
   </div>

   <div class="content-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
         
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">

         <div class="content-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div class="example-container mat-elevation-z8">
               <mat-table #table [dataSource]="dataSource">
             
                 <!-- Position Column -->
                 <ng-container matColumnDef="position">
                   <mat-header-cell class="header" *matHeaderCellDef> 
                       <div  class="tbTitle">Tenant Name</div>
                   </mat-header-cell>
                   <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                 </ng-container>
             
                 <!-- Name Column -->
                 <ng-container matColumnDef="name">
                   <mat-header-cell class="header" *matHeaderCellDef>
                       <div  class="tbTitle">Tenant Name</div>
                   </mat-header-cell>
                   <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                 </ng-container>
             
                 <!-- Weight Column -->
                 <ng-container matColumnDef="weight">
                   <mat-header-cell class="header" *matHeaderCellDef>
                       <div  class="tbTitle">Tenant Name</div>
                   </mat-header-cell>
                   <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                 </ng-container>
             
                 <!-- Symbol Column -->
                 <ng-container  matColumnDef="symbol">
                   <mat-header-cell class="header" *matHeaderCellDef>
                       <div  class="tbTitle">Tenant Name</div>
                   </mat-header-cell>
                   <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                 </ng-container>
             
                 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                 <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               </mat-table>
             </div>
         </div >
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="25">
         
      </div>
   </div >

</div>


<!-- new table data -->
<div fxLayout="row wrap" class="account-money">

   <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      Thông tin Giao dịch
   </div>

   <div class="content-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <mat-form-field>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
      </div>
   </div >

   <div class="content-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <mat-form-field>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
      </div>
   </div >

   <div class="content-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
      </div>
   
      <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
         <button mat-raised-button color="primary">Primary</button>
      </div>
   </div >

</div>

